<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Contacts</title>
</head>
<body>
    <table border="1">
        <thead>
       <h1> <tr><td>Name</td>
        <td>Date</td>
        <td>Place</td></tr></thead>
        {% for i in result %}
    <tr>
        <td>{{ i.Name }}</td>
        <td>{{ i.Date }}</td>
        <td>{{ i.Place }}</td>
    </tr>
    {% endfor %}
  </table>
  <form method="POST"> {% csrf_token %}
    <label for="id1">Name :</label>
    <input type="text" name="name" id="id1" placeholder="enter Name" required></form>
</html>